# Some generic hostgroup definitions

# A simple wildcard hostgroup
define hostgroup {
        hostgroup_name  all
		alias           All Servers
		members         *
        }


#----------------------------------------------------------------------

#A list of my Database Servers
define hostgroup {
	hostgroup_name 	db-servers
	alias		Database Servers
	members		GroupL-db
	}


#----------------------------------------------------------------------




# A list of your Debian GNU/Linux servers
define hostgroup {
        hostgroup_name  debian-servers
		alias           Debian GNU/Linux Servers
		members         GroupL-db, GroupL-app, GroupL-storage
        }

# A list of your web servers
define hostgroup {
        hostgroup_name  http-servers
		alias           HTTP servers
		members        GroupL-mgmt
        }

# A list of your ssh-accessible servers
define hostgroup {
        hostgroup_name  ssh-servers
		alias           SSH servers
		members         GroupL-mgmt
        }


